# hidden files
.*
!.git*
!.editorconfig
!.nojekyll
!.travis.yml
!.husky
!.commitlintrc.json
!.versionrc.json
!.stylelintrc.json
# bundler cache
_site
# Bundler cache
.bundle
vendor
Gemfile.lock

# Jekyll cache
.jekyll-cache
_site

# RubyGems
*.gem

# NPM dependencies
node_modules
package-lock.json
Gemfile.lock

# IDE configurations
.idea
.vscode

# Misc
assets/js/dist

.jekyll-metadata
