---
layout: default_audio_diagrams

tail_includes:
  - comments
---
<article class="audio_diagram">
  <br />
  <br />
  <h1>{{ page.title }}</h1>

  <div class="audio_diagram-class {{ page.class | downcase }}">
    {{ page.class }}
  </div>

  <div class="audio_diagram-class {{ page.description | downcase }}">
    {{ page.description }}
  </div>

  <div class="audio_diagram-class {{ page.picture | downcase }}">
    <img src="{{ page.picture }}" alt="Preview of {{ page.title | downcase }} system block diagram">
  </div>

  The copy button doesn't work you will need to highlight and copy.
  <div class="language-xml highlighter-rouge"><div class="code-header">
    <span data-label-text="XML"><i class="fas fa-code small"></i></span>
  <button aria-label="copy" data-title-succeed="Copied!" data-original-title="" title=""><i class="far fa-clipboard"></i></button></div><div class="highlight"><code><table class="rouge-table"><tbody><tr><td class="rouge-gutter gl"></td><td class="rouge-code">
    <pre>&lt;mxlibrary&gt;[
{{ page.xml }}
]&lt;/mxlibrary&gt;
</pre></td></tr></tbody></table></code></div></div>

</article>

<div id="tail-wrapper"></div>