---
layout: default_audio_diagrams # You can ommit this if you've set it as a default

tail_includes:
  - comments
---

<br />
<br />
<h1>Audio Diagrams</h1>
<p>Back in October 2022 I saw a post on <a href="https://www.reddit.com/r/livesound">r/livesound</a> where someone was asking about audio shapes for <a href="https://diagrams.net">diagrams.net</a> (formally draw.io). Unfortunately they didn't much help from the Reddit community, but I thought as I was slogging my way through documenting a new rack anyway, I'd take a look at making a library that is publicly available. I have decided to host this on my blog rather than set up a new site for it, but this may change in the future.</p>
<p>There are a couple of reasons I have chosen to attach this to my blog.</p>
<p>The first is GitHub (whilst not 100% relevant to audio) has is extremely feature rich which collaboration tools. This means other people can contribute their audio shapes to the library as well. If you wish to contribute, then <a href="https://docs.github.com/en/get-started/quickstart/contributing-to-projects">GitHub</a> have a very good guide on how you can join in. I will in time also write a guide to how the shapes are formatted and a few "rules" on building them.</p>
<p>If you find a problem with a shape, or you would like a shape but don't fancy making it yourself, then you can submit an <a href="https://docs.github.com/en/issues/tracking-your-work-with-issues/creating-an-issue">issue</a> and I or someone else may pick up and make it for you. I have also enabled comments on all the audio diagram pages, but I feel that these are probably more appropriate for discussion on how to use rather than requesting new shapes. However, there are no employees here, so everything is people giving their free time.</p>
<p>Another big reason for hosting this library on GitHub is (as long as it doesn't grow too big) it is free.</p>
<p>Here's how to use the <a href="/audio_diagrams/using_audio_diagrams/">audio diagrams</a>.</p>

{% assign sorted-diagrams = site.audio_diagrams | where: "class","Manufacturer" %}
{% for audio_diagram in sorted-diagrams %}
  <hr />
  <h2>
    <a href="{{ audio_diagram.url }}">
      <img src="{{ audio_diagram.picture }}" alt="Preview of {{ audio_diagram.title | downcase }} system block diagram"> {{ audio_diagram.title }}
    </a>
  </h2>
{% endfor %}

<hr />
<h2>All devices</h2>
  <div class="language-xml highlighter-rouge"><div class="code-header">
    <span data-label-text="XML"><i class="fas fa-code small"></i></span>
  <button aria-label="copy" data-title-succeed="Copied!" data-original-title="" title=""><i class="far fa-clipboard"></i></button></div><div class="highlight"><code><table class="rouge-table"><tbody><tr><td class="rouge-gutter gl"></td><td class="rouge-code">
    <pre>&lt;mxlibrary&gt;[
{% assign sorted-diagrams = site.audio_diagrams %}{% for audio_diagram in sorted-diagrams %}{% if audio_diagram.class != "Manufacturer" %}{{ audio_diagram.xml }}{% unless forloop.last %},
{% endunless -%}{% endif %}{% endfor %}
]&lt;/mxlibrary&gt;
</pre></td></tr></tbody></table></code></div></div>

<div id="tail-wrapper"></div>